<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Articles" subheader="List of all Articles">
        <div class="p-grid"> </div>
        <div class="p-col-12">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <p-button label="New" icon="pi pi-plus"   routerLink="form"
                    ></p-button>
                </div>
            </p-toolbar>
        </div>
        
      
          

        <div class="p-grid">

            <div class="p-col-12">
                <p-table
          [paginator]="true"
          [rows]="2"
          [value]="articles"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="['name']"
        >
                     <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="Description"> Description <p-sortIcon field="Description"></p-sortIcon>
                            </th>
 
                              <th pSortableColumn="Contenu"> Contenu <p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th>Image</th>
                                <th pSortableColumn="category"> Summary<p-sortIcon field="category"></p-sortIcon>

                         </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-articles>
                        <tr>
                            <td>{{articles.description }}</td>
                            <td>{{articles.contenu }}</td>
                            <td>
                            <img [src]="'http://localhost:3308' + articles.image" alt="Article image" width="70">
                            </td>
                            <td>{{articles.summary}}</td>
                            <td>
                                <div class="button-container">

                                <p-button 
                                (onClick)="deleteArticle(articles.id)"
                                styleClass="p-button-danger -p-mr-5"
                                    icon="pi pi-trash"></p-button>      

                                    <p-button (click)="updateArticle(articles.id)"
                                     styleClass="p-button-success" icon="pi pi-pencil">
                                    </p-button> 
                                    <span >
                                        <p-button (click)="summarizeArticle(articles.id )"
                                        label="Summary" styleClass="p-button-rounded" ></p-button>
                                    </span>
                                </div>


                                <td>
                             </tr>
                             
                    </ng-template>
                </p-table>

            </div>

        </div>

    </p-card>

</div>