<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Users" subheader="List of all users">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="users" [tableStyle]="{'min-width': '60rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id" style="width:20%">Id <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="username" style="width:20%">userName <p-sortIcon field="username"></p-sortIcon></th>
              <th pSortableColumn="password" style="width:20%">password <p-sortIcon field="password"></p-sortIcon></th>
              <th pSortableColumn="tel" style="width:20%">phone <p-sortIcon field="tel"></p-sortIcon></th>
              <th pSortableColumn="email" style="width:20%">email <p-sortIcon field="email"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.password}}</td>
              <td>{{user.tel}}</td>
              <td>{{user.email }}</td>
              <td>
                <a [routerLink]="['/users/form', user.id]" [queryParams]="{ user: user }">Update</a>

                <p-button
                  (click)="updateUser(user.id)"
                  styleClass="p-button-outlined p-button-warning"
                  icon="pi-window-maximize"
                ></p-button><p-button
                  (click)="deleteUser(user.id)"
                  styleClass="p-button-raised p-button-danger"
                  icon="pi pi-times"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
