<!-- quiz.component.html -->
<h1 class="display-4 text-center">Quizzes</h1>

<!-- Display quizzes -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Questions</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quiz of quizzes">
      <td>{{ quiz.id }}</td>
      <td>{{ quiz.name }}</td>
      <td>{{ quiz.questions}}</td>
      <button (click)="deleteQuiz(quiz.id)">Delete</button>
    </tr>
  </tbody>
</table>


<!-- Create quiz form -->
<div>
  <h1>Create Quiz</h1>
  <form #createQuizForm="ngForm" (submit)="createQuiz(createQuizForm.value)">
    <label for="name">Quiz Name</label>
    <input type="text" [(ngModel)]="createQuizForm.value.name" name="name" required>
    <button type="submit">Create</button>
  </form>
</div>

<!-- Update quiz form -->
<div>
  <h1>Update Quiz</h1>
  <form #updateQuizForm="ngForm" (submit)="updateQuiz(updateQuizForm.value)">
    <label for="name">Quiz Name</label>
    <input type="text" [(ngModel)]="updateQuizForm.value.name" name="name" required>
    <button type="submit">Update</button>
  </form>
</div>
